@model ProjectFinal.Models.Pylone

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Pylone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.degradation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.degradation)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Pylone", new { id = Model.Id })">
        <i class="menu-icon tf-icons bx bx-edit-alt"></i>
    </a>
    <a href="@Url.Action("Index", "Pylone")">
        <i class="menu-icon tf-icons bx bx-arrow-back"></i>
    </a>
</p>
